<div class="jumbotron">
	<h1>Shaangor's Portal</h1>
	<p class="lead">This is my personal web site hosted on my own server. Here you can proceed to my various subdomains.</p>
</div>
<div class="row">
	<div class="col-sm-4">
		<a href="http://dnd.shaangor.com"><img src="/Content/Images/dnd4elogo_small.jpg" /></a>
		<h2>D&amp;D Wiki</h2>
		<p>A wiki for my current D&amp;D 4th edition game. Powered by Roadkill Wiki.</p>
		<p><a class="btn btn-default" href="http://dnd.shaangor.com">Go &raquo;</a></p>
	</div>
</div>